.booking__wrapper {
 min-height: 290px;
 padding: 30px 20px 50px;

 box-sizing: border-box;

 text-align: center;
 text-transform: uppercase;
}

.booking__title {
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 24px;

  font-size: 30px;
  line-height: 38px;
  font-weight: bold;
}

.booking__desc {
  max-width: 460px;
  margin: 0 auto;
  margin-bottom: 40px;

  font-size: 14px;
  line-height: 24px;
  color: $grey700;
}

.booking__btn {
  display: block;
  margin: 0 auto;
  width: 280px;
  min-height: 50px;
  padding-top: 19px;
  padding-bottom: 15px;
  box-sizing: border-box;
  
  font-size: 21px;
  line-height: 26px;
  text-decoration: none;

  &.disabled {
    background-color: $grey300;
    cursor: auto;
  }
}

.booking__map {
  position: relative;
  width: 100%;
  height: 350px;
  padding: 0;
  
  overflow: hidden;
}

.booking__iframe {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;

  border: 0;
}

/* Стили для разных экранов */

@media (min-width: $tablet-width) {
  .booking__wrapper {
    min-height: 320px;
    padding: 55px 60px 60px;
  }

  .booking__title {
    margin-bottom: 30px;
  }

  .booking__desc {
    margin-bottom: 45px;
  }

  .booking__btn {
    width: 458px;
  }

}

@media (min-width: $desktop-width) {
  .booking__wrapper {
    padding-bottom: 65px;
  }

  .booking__desc {
    margin-bottom: 50px;
  }
}
