/* Colors */

$black: #000000;
$white: #ffffff;

$grey100: #f2f2f2;
$grey200: #eeeeee;
$grey300: #e5e5e5;
$grey400: #e6e6e6;
$grey500: #d5d5d5;
$grey600: #a4a4a4;
$grey700: #333333;

$lightblue: #81b3d2;
$blue: #709cb7;
$darkblue: #5496bd;

/* Media */

$mobile-width-only: 319px;
$tablet-width-only: 767px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1200px;

$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
